.bd-bg-image-8,
.bd-bg-metal-2,
.bd-bg-stone-3,
.bd-bg-stone-2,
.bd-bg-stone,
.bd-bg-bulldozer {
	background-size: cover;
}

.bp-bg-wood,
.bd-bg-bricks,
.bd-bg-metal {
	background-repeat: repeat !important;
}

.bd-bg-metal {
	background-image: url('../../assets/images/backgrounds/metal.png');
}

.bd-bg-metal-2 {
	background-image: url('../../assets/images/backgrounds/metal-2.webp');
}

.bd-bg-bricks {
	background-image: url('../../assets/images/backgrounds/bricks.webp');
}

.bp-bg-wood {
	background-image: url('../../assets/images/backgrounds/wood.webp');
}

.bd-bg-stone {
	background-image: url('../../assets/images/backgrounds/sidebar.webp');
}

.bd-bg-stone-2 {
	background-image: url('../../assets/images/backgrounds/list_element.webp');
}

.bd-bg-stone-3 {
	background-image: url('../../assets/images/backgrounds/tabs.png');
}

.bd-bg-bulldozer {
	background-image: url('../../assets/images/backgrounds/bulldozer.webp');
}

.bd-bg-image-8 {
	background-image: url('../../assets/images/backgrounds/wood_sign.webp');
}
