@import './constants/colors.scss';
@import './constants/sizes.scss';

// utilities (TO DO: move to antoher folder)
@mixin snackbar-span {
  display: block;
  font-size: 1.125rem;
  font-weight: bold;
}

@mixin snackbar($background-color, $color, $span-content-text) {
  background-color: $background-color !important;
  color: $color !important;

  .mat-simple-snackbar > span {
    &::before {
      @include snackbar-span;
      content: $span-content-text; // TO DO: review
    }
  }
}
// end utilities

body {
  margin: 0;
  --success-color: $success-bgcolor;
  --warning-color: $warning-bgcolor;
  --error-color: $error-bgcolor;
}

.smooth-transition * {
  //refact
  transition: background 0.3s;
}

.success-snackbar {
  @include snackbar($success-bgcolor, $white-text-color, 'Hooray 🎉!');
}

.bg-success {
  background-color: $success-bgcolor !important;
}

.warning-snackbar {
  @include snackbar($warning-bgcolor, $black-text-color, 'Wee-oww 🚨!');
}

.bg-warning {
  background-color: $warning-bgcolor !important;
}

.error-snackbar {
  @include snackbar($error-bgcolor, $white-text-color, 'Upss 🚧!');
}

.bg-error {
  background-color: $error-bgcolor !important;
}

input[readonly] {
  pointer-events: none;
}

.bd-h-inherit {
  height: inherit !important;
}

.bd-custom-monaco-editor {
  height: calc(100vh - 96px) !important;
}

.bd-custom-monaco-editor-splitted {
  display: block;
  height: calc(50vh - 57px) !important;
}

.bd-border-bottom {
  border-bottom: 2px solid gray;
}

.bd-custom-height-content {
  height: calc(
    100vh - $toolbar-height - $tabs-height - 1px
  ); // 64 (toolbar size) + 48(tabss toolbar) + 1(extra pixel ?)
}

// Temporal (use theme colors later)
.hd-side-left {
  background-color: #2c2c2c;
}

.hd-side-right {
  background-color: #393939;
}

.hd-side-right,
.hd-side-left {
  color: white;
}

.hd-scroll-mt-8 {
  margin-top: -2rem;
}

.hd-view-profile-height {
  height: calc(100vh - 126px);
}

.hd-workspace-explorer-height {
  height: calc(100% - 234px);
  overflow-y: auto;
  overflow-x: hidden;
}

.hd-active-status {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #fec307;
}

.hd-active-status.active {
  background-color: #10b981;
}
